
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

.mz-bg{
  /* background: #f5f8ff; */
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url('../img/bg.png') no-repeat center 0;
  background-size: cover;
  z-index: -1;   
}
.mz-header{
  width: 100%;
  height: 70px;
  background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#d4d7db));
  background: -moz-linear-gradient(top,#fff,#d4d7db);
  box-shadow: 0 4px 4px rgba(0,0,0,.2);
}
.mz-top{
  width: 960px;
  height: 100%;
  margin: 0 auto;
}
.mz-logo{
  position: relative;
  left: 0;
  top: 5px;
  width: 60px;
  height: 60px;
}
.mz-logo h1{
  position: absolute;
  width: 0;
  text-indent: -22500px; 
}
.mz-logo img{
  width: 60px;
  height: 60px;
  -webkit-filter: grayscale(98%);
  filter: grayscale(98%);
  -webkit-filter: #1f527f;
  filter: #1f527f;
}
.mz-header-nav{
  float: right;
}
.mz-top-nav{
  position: relative;
  float: left;
  width: 80px;
  height: 100%;
  overflow: hidden;
  transition: all .2s cubic-bezier(.4,0,1,1);
}
.mz-top-nav a{
  display: block;
  position: relative;
  color: #333;
  text-decoration: none;
  text-align: center;
  line-height: 70px;
  font-size: 14px;
  z-index: 100;
  overflow: hidden;
  transition: all .2s cubic-bezier(.4,0,1,1);
}
.mz-top-nav:after{
  position: absolute;
  content: "";
  left: 0;
  top: 66px;
  width: 100%;
  height: 70px;
  transition: all .2s cubic-bezier(.4,0,1,1);
}
.mz-top-nav:hover:after{
  top: 0px;
}
.mz-top-nav:hover a{
  color: whitesmoke;
}
.mz-top-nav:nth-child(1):after{
  background: #1f527f;
}
.mz-top-nav:nth-child(2):after{
  background: #1f527f;
}
.mz-top-nav:nth-child(3):after{
  background: #1f527f;
}
.mz-top-nav:nth-child(4):after{
  background: #1f527f;
}

/* main */
.mz-main{
  position: relative;
  width: 960px;
  height: auto;
  margin: 15px auto 0;
}
.mz-content{
  float: right;
  box-sizing: border-box;
  width: 700px;
  min-height: 700px;
  box-shadow: initial;
  border-radius: initial;
}
.mz-sidebar{
  position: static;
  float: left;
  width: 240px;
  box-shadow: none;
}
.mz-sidebar-inner{
  position: relative;
  box-sizing: border-box;
  width: 240px;
  padding: 20px 10px;
  color: #555;
  background: rgba(255,255,255,.8);
  box-shadow: initial;
  border-radius: initial;
  margin-bottom: 16px;
}
.mz-author-img{
  display: block;
  margin: 0 auto;
  padding: 2px;
  max-width: 120px;
  height: auto;
  border: 1px solid #eee;
  border-radius: 50%;
  transition: all 0.5s;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  cursor: pointer;
}
.mz-author-blog{
  margin: 25px;
  text-align: center;
  color: #222;
  font-weight: 600;
  font-size: 18px;
}
.mz-author-description{
  color: #777;
  font-size: 14px;
}
.mz-links{
  margin-top: 20px;
}
.mz-links-item{
  float: left;
  margin: 5px 0 0;
  width: 50%;
}
.mz-links-item a{
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  border-radius: 15px;
  color: #777;
  font-size: 14px;
  margin-right: 0;
  margin-bottom: 0;
  padding: 5px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
  filter: gray;
  transition: all .3s ease-out;
}
.mz-links-item a:hover{
  color: #f5f7f9;
  background: rgb(124, 124, 124);
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
}
.mz-github-icon{
  float: left;
  width: 20px;
  height: 20px;
  background: url("../img/GitHub.png") no-repeat;
  background-size: 100%;
  margin-right: 5px;
}
.mz-weibo-icon{
  float: left;
  width: 20px;
  height: 20px;
  background: url("../img/weibo.png") no-repeat;
  background-size: 100%;
  margin-right: 5px;
}
.mz-sidebar-box{
  position: relative;
  margin-bottom: 16px;
  background: rgba(255,255,255,.8);
}
.mz-sidebar-box .mz-title {
  margin: 0;
  padding-left: 16px;
  padding-left: 1rem;
  height: 48px;
  height: 3rem;
  line-height: 48px;
  line-height: 3rem;
  font-size: 14px;
  font-weight: 400;
  color: #48494d;
  border-bottom: 1px dashed #eee;
}
.mz-sidebar-con{
  padding: 12px 16px;
}
.mz-sidebar-content{
  padding: 8px 5px;
  color: #777;
  cursor: pointer;
  transition: all .5s ease-in;
}
.mz-sidebar-content:hover{
  background: #777;
  color: #fff;
}
.mz-sidebar-content h5{
  font-size: 13px;
}
.mz-postlist-item{
  overflow: hidden;
  padding: 20px;
  margin: 30px 0;
  border-radius: 15px;
  background: rgba(255,255,255,.8);
  transition: all .3s;
}
.mz-post-title{
  font-size: 18px;
  line-height: 1.3;
  margin-top: 0;
  color: #222;
}
.mz-des{
  line-height: 1.6;
  color: #777;
  font-size: 14px;
}
.mz-mate{
  font-size: 14px;
  color: #c9ccd0;
}
.mz-avatar-inline {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  width: 32px;
}
.mz-avatar-inline img{
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.mz-author-name{
  color: #a5aab0;
}
.mz-dot{
  padding-left: 5px;
  padding-right: 5px;
}
.mz-dot::after{
  content: "·";
}
.mz-nav{
  margin: 50px auto;
  width: 150px;
  background: rgba(255,255,255,0.9);
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  color: #999;
  cursor: pointer;
  overflow: hidden;
}
.mz-hello-box{
  padding: 15px 40px;
  background: rgba(255,255,255,.8);
}
.mz-hello{
  position: relative;
  width: 620px;
  height: 189px;
  overflow: hidden;
  cursor: pointer;
}
.mz-hello-img{
  position: absolute;
  left: 0;
  top: -740px;
  width: 620px;
  height: 929px;
  transition: all 3s;
}
.mz-hello-img img{
  display: block;
  width: 100%;
}
.mz-hello:hover .mz-hello-img{
  top: 0;
}
.mz-footer{
  background: rgba(255,255,255,0.9);
  padding: 50px 0;
  border-top: 1px solid #ddd;
  color: #999;
}
.mz-outer{
  position: relative;
  max-width: 964px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 1;
}
.mz-footer-info{
  line-height: 1.6em;
  font-size: 0.9em;
  text-align: center;
  width: 98%;
  margin: 0 0.8%;
}
/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
 ::-webkit-scrollbar
 {
     width:0px;
     height:10px;
     background-color:#F5F5F5;
 }
 /*定义滚动条轨道
  内阴影+圆角*/
 ::-webkit-scrollbar-track
 {
     -webkit-box-shadow:inset 0 0 6px rgba(2, 180, 250, 0.3);
     border-radius:10px;
     background-color:#F5F5F5;
 }
 /*定义滑块
  内阴影+圆角*/
 ::-webkit-scrollbar-thumb
 {
     border-radius:10px;
     -webkit-box-shadow:inset 0 0 6px rgba(27, 164, 255, 0.918);
     background-color:#555;
 }